html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #1b1b1b;
}

a {
    color: #1b1b1b;
    text-decoration: none;
}

header {
    padding: 40px 80px;
}

#logo {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#frame {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#frame img {
    width: 250px;
    border-radius: 100%;
}

#information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
}

#title {
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

#title a {
    color: rgb(0, 186, 124);
}

#bio {
    margin: 5px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.05rem;
}

#social {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#social a {
    margin: 0 7.5px;
}

#social a:hover {
    color: rgb(0, 186, 124);
}

#social i {
    font-size: 1.25rem;
}